div#spelling-suggestions
  if suggestions.length
    p Did you mean: 
      - for (var i = 0; i < suggestions.length; i++)
        - const url = "/search?query=" + suggestions[i]
        a(href=url) #{suggestions[i]}
        if (i < suggestions.length - 1)
          |, 
div#search-result
  if results.length
    each item in results
      div
        h3.search-header
          a(href=item.path, target="_blank") #{item.label}
        div.search-details
          button.collapse +
          p.display-path #{item.displayPath}
        if debugView
          p.debug Match: #{item.match}
        div.search-context
          each line in item.context
            p.line #{line}
  else
    p Your search - #{query} - did not match any documents.
