form.search(action="search")
  div.input
    input(
      type="text",
      name="query",
      placeholder="Search Recipes",
      value=query
      autofocus
    ).search-bar
    input(type="submit", value="Go")
    if results
      - const text = results.length === 1 ? 'result' : 'results';
      p#search-stats #{results_length} #{text} (#{time} milliseconds)
