div#spelling-suggestions
  if suggestions.length
    p Did you mean: 
      - for (var i = 0; i < suggestions.length; i++)
        - const url = "/search?query=" + suggestions[i]
        a(href=url) #{suggestions[i]}
        if (i < suggestions.length - 1)
          |, 
div#search-result
  if results.length
    each item in results
      div
        h3.search-header
          a(href=item.path, target="_blank") #{item.label}
        div.search-details
          div
            p.collapse +
            p.display-path #{item.displayPath}
          div.tags
            each tag in item.tags
              a.tag(href="/search?query=" + tag) #{tag}
        if debugView
          p.debug Score: #{item.match}
          p.debug Match: #{JSON.stringify(item.matchVerbose)}
        div.search-context
          each line in item.context
            p.line #{line}
    div.page-numbers
      if results_length > 20
        - const pages = Math.ceil(results_length / 20)
        - let n = 1
        while n <= pages
          - const id = page === n.toString() ? 'current' : ''
          a(href="/search?query=" + query + "&page=" + n, id=id) #{n}
          - n++
  else
    p Your search - #{query} - did not match any documents.
