form.search(action="search")
  div.input
    input(
      type="text",
      name="query",
      placeholder="Search Recipes",
      value=query
    ).search-bar
    input(type="submit", value="Go")
    if results
      p#search-stats #{results.length} results (#{time} milliseconds)
