doctype html
html(lang="en")
  head
    title=Recipes
    link(rel="stylesheet", type="text/css", href="public/resources/index.css")
    script(src="public/resources/highlight-search.js")
  body(
    onload='highlight.highlightSearchResults("' + query + '");'
  )
    include navigation-bar.pug

    h1 Results
    
    include search-bar.pug
    p#search-stats #{results.length} results (#{time} milliseconds)
    div#search-result
      if results.length
        each item in results
          div
            h3.search-header
              a(href=item.path, target="_blank") #{item.label}
            p.display-path #{item.displayPath}
            each line in item.context
              p.line #{line}
      else
        p Your seach - #{query} - did not match any documents.
